<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('header.ejs'); -%>
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs'); -%>
   
        <h2 class="text-light">INICIA SESIÓN</h2>

        
    <footer class="text-white text-center footer">
     
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <img src="/img/logo.png"   class=" img-logo-footer" alt="">
        </div>
        <!-- Copyright -->
      </footer>
    <%- include('scripts.ejs'); -%>
</body>
</html>