<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('header.ejs'); -%>
    <title>HOME</title>
</head>
<body class="body">
    <%- include('nav.ejs'); -%>  
    
    <div class="row justify-content-center mt-4 ml-1 mr-1 mb-4">
       
        
        <div class="col">
            <script type="text/javascript">
                atOptions = {
                    'key' : '19b2e7f785ed31dbe583c8aa04a1121b',
                    'format' : 'iframe',
                    'height' : 300,
                    'width' : 160,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/19b2e7f785ed31dbe583c8aa04a1121b/invoke.js"></scr' + 'ipt>');
            </script>
        </div>
        <div class="col-md-12 row justify-content-between ">
            <div class="col-md-2  border border-primary div-publi">Publicidad #2</div>
            
            <div class="col-md-6 ">
                <div class="col-sm-8 col-md-12 mt-4 mb-4 rounded  div-cronometro text-center">
                    <span class="span-cronometro">Free diamonds every hour..!</span>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <img src="/img/gem.png" alt="" style="height: 25px;"> <span class="span-gem">+1</span> 
                        </div>
                        <div class="col-md-6 col-sm-5 " id="crono">
                        
                        
                        </div>
                        <div class="col-md-10 text-center div-progres  mb-2 rounded">
                         <div class="progress mt-2">
                             <div class="progress-bar progress-bar-striped active bg-danger" role="progressbar"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                               40%
                             </div>
                             <div class="progress-bar progress-bar-striped bg-progress" role="progressbar" style="width:60%">
                                
                             </div>
                           </div>
                        </div>
                        <button class="col-md-11 col-sm-5 btn button-coins mb-2 text-center" id="coins" disabled >
                         <img src="/img/gem.png" alt="" style="height: 25px;"> <span class="span-gem">+1</span>
                         <br>
                         <span class="get-diamons">Get your free diamonds</span>
                        </button>
                    </div>
                </div>

                <div class="col-md-12 row justify-content-around mt-4">
                    <div class="col-md-5 border border-primary mt-4 div-publi2 ">Publicidad #5</div>
                    <div class="col-md-5 border border-primary mt-4 div-publi2">Publicidad #6</div>
                </div>
             
            </div>
            <div class="col-md-2  border border-primary">Publicidad #3 </div>
        </div>
       
    </div>
    
    
    
    
    <footer class="text-white text-center footer">
     
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <img src="/img/logo.png"   class=" img-logo-footer" alt="">
        </div>
        <!-- Copyright -->
      </footer>
    <%- include('scripts.ejs'); -%>

    <script>
     $( document ).ready(function() {  
      

        $("#coins").click(function () {
            $('.button-coins').addClass('cursor')
            $('.body').addClass('cursor')
            $.ajax({
                url: '/recolectar',
                method: 'POST',
                data: {
                    id: "usuario"
                },
                success: function (response) {
                    $('.body').removeClass('cursor')
                    $('.button-coins').removeClass('cursor')
                    Swal.fire({
                        icon: response.succes,
                        title: response.estado,
                        background: "url('../img/alerta.jpg')",
                        showCancelButton: false,
                        confirmButtonColor: '#7066E0',
                        confirmButtonText: '¡Ok!',
                        customClass: {
                            title: "text-light"
                        }
                    }).then((result) => {
                        if (result.value) {

                            location.reload();
                        }
                    });
                }
            })
        
        })
            
        const getRemainTime = deadline => {
        let now = new Date();
        tiempo = (new Date(deadline) - now + 1000) / 1000;

        segundo = ('0' + Math.floor(tiempo % 60)).slice(-2);
        minutos = ('0' + Math.floor(tiempo / 60 % 60)).slice(-2);
        horas = ('0' + Math.floor(tiempo / 3600 % 24)).slice(-2);
        dias = Math.floor(tiempo / (3600 * 24));
        return { tiempo, segundo, minutos, horas, dias }

    }
    

        const countdown = (deadline, elem) => {
        const fecha = new Date();
        const regresivo = fecha.setMinutes(fecha.getMinutes() + 1);
        const ele = document.getElementById(elem);

        const timerUpdate = setInterval(() => {
            let t = getRemainTime(deadline);

            ele.innerHTML = `
          <i class="fas fa-stopwatch text-danger" style="font-size:20px;"></i>   <span class="span-cronometro2">${t.minutos}m : ${t.segundo}s  </span>

              `
              $("#coins").attr('disabled', true);
            if (t.tiempo <= 1) {
                clearInterval(timerUpdate)
                ele.innerHTML = `
              <span class="span-cronometro2 badge badge-success border border-secondary mb-1 ">Recolecta </span>`;
              $("#coins").attr('disabled', false);
            }

        }, 1000)
    }

  
    countdown(parseFloat("<%= time%>"), "crono")
});
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>