<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('header.ejs'); -%>
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs'); -%>
    <div class="row ml-1 mr-1 mt-4 dvi-response mb-4 div-1" >
        <div class="col-md-6 col-sm-12  text-center  text-danger mt-4">
            <span class="spana-titu">Cansado de no tener items en Dota 2 ... !!</span>
        </br>
           <h1 class="titulo-font ">FREE ITEMS DOTA 2</h1>
           <span class="spana-titu">Reclama tesoros cada  15 minutos obtén diamantes con los diamantes compra items retira a tu cuenta de steam inmediatamente</span>

      
           <div class="row justify-content-center mt-4">
               <div class="col-sm-8 col-md-10 rounded  div-cronometro text-center">
                   <span class="span-cronometro">Free diamonds every hour..!</span>
                   <div class="row justify-content-center mt-1">
                       <div class="col-md-6">
                           <img src="/img/gem.png" alt="" style="height: 25px;"> <span class="span-gem">+1</span> 
                       </div>
                       <div class="col-md-6 col-sm-5 " id="crono">
                        
                        
                       </div>
                       <div class="col-md-10 text-center div-progres  mb-2 rounded">
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped active bg-danger" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                              40%
                            </div>
                            <div class="progress-bar progress-bar-striped bg-progress" role="progressbar" style="width:60%">
                               
                            </div>
                          </div>
                       </div>
                       <button class="col-md-11 col-sm-5 button-coins btn mb-2 text-center" id="coins" >
                        <img src="/img/gem.png" alt="" style="height: 25px;"> <span class="span-gem">+1</span>
                        <br>
                        <span class="get-diamons">Get your free diamonds</span>
                       </button>
                   </div>
               </div>
           </div>
        </div>
        <div class="col-md-6 col-sm-12 div-contenedor-2 text-center fondo-anim">
            <div class="fondo-estatico">
                <img src="/img/arcana-2.png" class="img-fluid animacion " alt="">
                <img src="/img/arcana-3.png" class="img-fluid animacion-2 " alt="">
                <img src="/img/triangle2.png" class="img-fluid animacion-3 " alt="">

            </div>
           
             
        </div >
    </div>
    <div class="col-md-12 col-sm-12  bg-light mt-4  mb-4">
        <div class="row mt-4">
            <div class="col-md-6 col-sm-12 mt-4">
                <img src="/img/grafico.png" class="img-fluid mt-2 " alt="" style="width: 100%;">
            </div>
            <div class="col-md-6 col-sm-12 b-r mt-4">
                <img src="/img/distri.jpg" class="img-fluid  mt-2" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
                                               
    <div class="col-md-12 col-sm-12  bg-imag ">
        <div class="row mt-4">
           
            <div class="col-md-6 col-sm-12 div-market text-center text-light">
                <img src="/img/treasure.png" class="img-fluid mt-4" style="height: 100px;" class="" alt="">
                <h2 class="titulo-font2 mt-4">MARKET PLACE </h2>
                <p class="spana-titu">Reclama tesoros cada tesoro obtendra recompensas segun tu nivel, con los diamantes puedes comprar en el mercado items, level, tesoros, boletos y mas .....</p>
            </div>
            <div class="col-md-6 col-sm-11 div-market text-center mb-2 ">
                <img src="/img/market.png" class="img-fluid img-market"    alt="" >
            </div>
        </div>
        
    </div>  
    
  
    <footer class="text-white text-center footer">
     
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <img src="/img/logo.png"   class=" img-logo-footer" alt="">
        </div>
        <!-- Copyright -->
      </footer>
    <%- include('scripts.ejs'); -%>

    <script>

$( document ).ready(function() {

    $("#coins").click(function () {

        Swal.fire({
            icon: "error",
            title: "Inicia sesión",
            background: "#503D75",

            showConfirmButton: true,
            customClass: {
                title: "text-light"
            }
        })
    })
  
          const getRemainTime = deadline=>{
        let now = new Date();
        tiempo = (new Date(deadline)-now+1000)/1000;
        
         segundo = ('0'+Math.floor(tiempo  % 60 )).slice(-2);
	     minutos =('0'+Math.floor(tiempo / 60 % 60 )).slice(-2);
		 horas = ('0'+Math.floor(tiempo / 3600 % 24 )).slice(-2);
         dias = Math.floor(tiempo/(3600*24));
         return{tiempo,segundo,minutos,horas,dias}

    }
  
   
   
         const countdown  = (deadline,elem)=>{
            const fecha = new Date();
            const regresivo= fecha.setMinutes(fecha.getMinutes() + 10);
             const ele = document.getElementById(elem);

             const timerUpdate = setInterval(()=>{
                 let t = getRemainTime(regresivo);

                ele.innerHTML = `
                <i class="fas fa-stopwatch" style="font-size:20px;"></i>   <span class="span-cronometro2">${t.minutos}m : ${t.segundo}s  </span>

                    `
                if (t.tiempo <= 1) {
                    clearInterval(timerUpdate)
                    ele.innerHTML = `<span class="span-cronometro2 badge badge-success border border-secondary mb-1">Recolecta </span>`;
                    
                }

             },1000)
         }

         countdown("3000","crono")
});
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>