<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   
    <%if(user===""){%>
    <ul class="navbar-nav ml-auto ">
        <a class="navbar-brand ml-4 " href="/auth/steam">
            <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" width="140"
                height="30" class="d-inline-block align-top" alt="">
        </a>
    </ul>

    <%}else{%>
    <ul class="navbar-nav ml-auto">
        <div class="badge badge-light text-wrap mr-3  bg-secondary mt-2  rkl  text-center border border-info"
            style="width: 6rem; height: 2rem; border: 1px #406688;">
            <div><%= user.personaname%></div>
            <div class="text-center text-light m-1">
                <img src="/icon/gem.svg" alt="" style="width: 15px;" class="img-fluid rounded mx-auto ">
                <span id="saldo"><%= user.saldo%></span>
            </div>
        </div>
        <div class="badge badge-light  bg-dark mt-2 rkl   " style="width: 4rem; height: 2rem;"></div>
        <a class="navbar-brand rkl">
            <img src=" <%= user.avatar%>" width="38" height="38" class="d-inline-block align-top border border-info rounded"
                alt="">
        </a>
    </ul>
    <%}%>
</body>
</html>