@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Orbitron:wght@600&display=swap');

body{
background: url('../img/img1.jpg');
background-repeat: initial;

line-height: 1.6; 


}
.bg-imag{
    background: url("../img/img1.jpg");
    background-repeat: inherit;
    
}
.nav-color{
    font-size: 1.2em;
}
span{
    color:  #ffffff !important;
}

.navbar {
    background-color: transparent !important;
}


.titulo-font{
   color:  #A3002E;
}
.titulo-font2{
font-size: 3rem;
color:  #A3002E;
}
.img-fondo{
    margin-top: 120px;
    height: 25rem;
    width: 40%;
}
.arcanas-1{
    width: 80%;
    left: 50px;
    height: 42rem;
}

.animacion{
    position: relative;
    width: 74%;
    animation: turn1 30s linear infinite;

    mix-blend-mode: screen;
}
.border-user{
    border: 2px solid #25193D !important;
}
.border-user{
    border: 2px solid #765caa !important;
}

.div-1{
   height: 500px;
}
.animacion-2{
    width: 38%;
    top: 24%;
    left: 31%;
    position: absolute;
    animation: turn2 28s linear infinite;
  
    mix-blend-mode: screen;
}
.animacion-3{
    height: 110px;
    width: 110px;
    top: 39%;
    left: 42%;
    position: absolute;
    opacity: .8;
}
  

.div-cronometro{
    background: #0C75A5;
    background: linear-gradient(0deg, rgba(5 ,154, 209,1) 37%, rgb(12 ,117, 165,1) 69%);
   
}
.span-cronometro{
    font-size: 2em;
    color: #ffffff !important;
}
.span-cronometro2{
    font-size: 1.2em;
    color: #ffffff !important;
}
.span-gem{
    font-size: 1.2rem;
    color: #ffffff !important;
}
.bg-progress{
    background: #ffffff !important ;
}
.div-progres{
    height: 36px;
    background: rgb(10, 95, 134);
    background: linear-gradient(90deg, rgb(3, 114, 155) 15%, rgb(13, 97, 128) 44%, rgb(3, 83, 112) 86%);
}
.button-coins{
    border: 3px solid #0b5d83;
    background: rgb(10, 95, 134);
    background: linear-gradient(0deg, rgb(14, 105, 148) 37%, rgb(9, 72, 102) 69%);
    cursor: pointer;
    height: 70px;
}
.get-diamons{
    font-size: 1.2rem;
}
@keyframes turn1 {
    to{
        transform: rotate(1turn);
    }
}
@keyframes turn2 {
    to{
        transform: rotate(-1turn);
    }
}


  
  .footer{
     
      border-top: 2px solid rgba(52 ,42, 118,.5);;
      background: #1a1130;
    
  }

  /* NAVEGCION */ 
  .nav-focus{
        position: relative;
       
        /* color:#0E83CD; */
        
        margin: 0px 15px;
        color: #ffffff !important;
        
    }
    .nav-focus:after{
        position: absolute;
        bottom: 5px;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: #5117c4;
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        transform: translateY(20px);        
    }
    .nav-focus:hover:after{
        opacity:1;
        transform: translateY(10px)
    }
   
    .b-r{
        
        height: 500px;
    }
    .b-r3{
        
        height: 440px;
    }
    .spana-titu{
        font-size: 1.4rem;
    }
    .img-market{
        height: 400px;
    }
   .img-logo{
       height: 40px;
   }
   .img-logo-footer{
    height: 25px;
}
.div-publi{
    height: 500px;
}
.div-publi2{
    height: 200px;
}
.img-market{
    height: 200px;
}
.img-inventario{
    height: 150px;
}

.bg-market{
    background: rgba(50, 37, 80, 0.7);
   
}
.bg-market2{
    background: rgba(15 ,10 ,42, 0.9);
   
}
.border-mar2{
    border: 2px solid rgba(57, 45, 126, 0.9);
}
.border-tab{
    border-bottom: 2px solid rgba(57, 45, 126, 0.9);
}
.span-market{
    font-size: 20px;
}
.btn-market{
    border: 3px solid #0b5d83;
    background: rgb(10, 95, 134);
    background: linear-gradient(0deg, rgb(14, 105, 148) 37%, rgb(9, 72, 102) 69%);
}
.btn-market:hover{
    border: 3px solid #084a69;
    background: rgb(11, 128, 182);
    background: linear-gradient(0deg, rgb(17, 132, 185) 37%, rgb(12, 101, 143) 69%);
}
.button-coins:disabled,
.button-coins[disabled]{
   cursor: no-drop;
}

.button-coins:hover{
    border: 3px solid #0f5372;
    background: rgb(11, 115, 163);
    background: linear-gradient(0deg, rgb(15, 119, 167) 37%, rgb(11, 91, 128) 69%);
}
.border-market{
    border-top: 3px solid #08061B;
}
.border-mar{
    border: 2px solid #5e3cad;
}
.div-inve{
    height: 520px;
}
.nav-tabs .nav-item .nav-link {
    background-color: #0080FF;
    color: #FFF;
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color: #FFF;
  }
  
  .tab-content {
   
    border-top: transparent;
    padding: 15px;
  }
  
  .tab-content .tab-pane {
    color: #0080FF;
    height: 400px;
    overflow-y: scroll;
  }
  .nav-link2{
    border: 1px solid #084a69 ;
    background: rgb(11, 128, 182);
    background: linear-gradient(0deg, rgb(17, 132, 185) 37%, rgb(12, 101, 143) 69%);
  }
  .nav-link2:hover{
    border: 1px solid #59afd6 !important;

  }
  .div-items{
      height: 270px;
  }
  .row-inventario{
    height: 260px;
  }
  .bg-inventario{
      background: transparent !important;
  }
  .border-nav{
      border-bottom: 2px solid rgba(52 ,42, 118,.5);
  }
  .strong-inve{
   
    font-size: calc(.4rem + .4vw);
}
 
 
  /*  scrool */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #0E6994;
    border: 4px none #ffffff;
    border-radius: 50px;
    
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #094866;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #094866;
  }
  ::-webkit-scrollbar-track {
    background: #362955;
    border: 4px none #ffffff;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #362955;
  }
  ::-webkit-scrollbar-track:active {
    background: #362955;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  
  

    /* //RESPONSE  */
    @media only screen and (max-width: 540px) {
        
        .arcanas-1{
            width: 70%;
            margin-top: 60px;
     
            height: 19rem;
        }
        .div-items{
            height: 240px;
        }
        .row-inventario{
            height: 220px;
          }
        .h4-inventario{
            font-size: calc(1rem + 1vw);
        }
        .nav-link2{
            width: 100%;
            font-size: calc(.5rem + .5vw);
        }
        .tab-content .tab-pane {
            height: 340px;
            overflow-y: scroll;
          }
        .img-fondo{
            height: 5rem;
        }
        .b-r{
        
            height: 230px;
        }
       
        .dvi-response {
            height: 650px; 
        }
        .div-contenedor-2{
            visibility: hidden;
        }
        .spana-titu{
            font-size: calc(1rem + 1vw);
        }
       .titulo-font {
        font-size: calc(1.7rem + 1.7vw);
       }
      .span-cronometro{
        font-size: calc(1rem + 1vw);
      }
      .img-market{
        height: 150px;
    }
    .img-inventario{
        height: 130px;
    }
    .h5-inventario{
        font-size: calc(.8rem + .8vw);
    }
    .btn-size{
        font-size: calc(.7rem + .7vw);
    }
    .strong-inve{
        font-size: calc(.5rem + .5vw);
    }
    .img-logo{
        height: 30px;
    }
      }