@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Orbitron:wght@600&display=swap');

body{
background: url("../img/img1.jpg");
background-repeat: initial;

line-height: 1.6; 


}
.bg-imag{
    background: url("../img/img1.jpg");
    background-repeat: inherit;
    
}
.nav-color{
    font-size: 1.2em;
}
span{
    color:  #ffffff !important;
}

.navbar {
    background-color: transparent !important;
}


.titulo-font{
   color:  #A3002E;
}
.titulo-font2{
font-size: 3rem;
color:  #A3002E;
}
.img-fondo{
    margin-top: 120px;
    height: 25rem;
    width: 40%;
}
.arcanas-1{
    width: 80%;
    left: 50px;
    height: 42rem;
}

.animacion{
    position: relative;
    width: 74%;
    animation: turn1 30s linear infinite;

    mix-blend-mode: screen;
}
.border-user{
    border: 2px solid #25193D !important;
}

.div-1{
   height: 500px;
}
.animacion-2{
    width: 38%;
    top: 24%;
    left: 31%;
    position: absolute;
    animation: turn2 28s linear infinite;
  
    mix-blend-mode: screen;
}
.animacion-3{
    height: 110px;
    width: 110px;
    top: 39%;
    left: 42%;
    position: absolute;
    opacity: .8;
}
  

.div-cronometro{
    background: #0C75A5;
    background: linear-gradient(0deg, rgba(5 ,154, 209,1) 37%, rgb(12 ,117, 165,1) 69%);
   
}
.span-cronometro{
    font-size: 2em;
    color: #ffffff !important;
}
.span-gem{
    font-size: 1.2rem;
    color: #ffffff !important;
}
.bg-progress{
    background: #ffffff !important ;
}
.div-progres{
    height: 36px;
    background: rgb(10, 95, 134);
    background: linear-gradient(90deg, rgb(3, 114, 155) 15%, rgb(13, 97, 128) 44%, rgb(3, 83, 112) 86%);
}
.button-coins{
    border: 3px solid #0b5d83;
    background: rgb(10, 95, 134);
    background: linear-gradient(0deg, rgb(14, 105, 148) 37%, rgb(9, 72, 102) 69%);
    cursor: pointer;
    height: 70px;
}
.get-diamons{
    font-size: 1.2rem;
}
@keyframes turn1 {
    to{
        transform: rotate(1turn);
    }
}
@keyframes turn2 {
    to{
        transform: rotate(-1turn);
    }
}


  
  .footer{
     
      border-top: 3px solid #2f1f58;
      background: #1a1130;
    
  }

  /* NAVEGCION */ 
  .nav-focus{
        position: relative;
       
        /* color:#0E83CD; */
        
        margin: 0px 15px;
        color: #ffffff !important;
        
    }
    .nav-focus:after{
        position: absolute;
        bottom: 5px;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: #5117c4;
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        transform: translateY(20px);        
    }
    .nav-focus:hover:after{
        opacity:1;
        transform: translateY(10px)
    }
   
    .b-r{
        
        height: 500px;
    }
    .b-r3{
        
        height: 440px;
    }
    .spana-titu{
        font-size: 1.4rem;
    }
    .img-market{
        height: 400px;
    }
   .img-logo{
       height: 40px;
   }
   .img-logo-footer{
    height: 25px;
}


    /* //RESPONSE  */
    @media only screen and (max-width: 540px) {
        
        .arcanas-1{
            width: 70%;
            margin-top: 60px;
     
            height: 19rem;
        }
        .img-fondo{
            height: 5rem;
        }
        .b-r{
        
            height: 230px;
        }
       
        .dvi-response {
            height: 650px; 
        }
        .div-contenedor-2{
            visibility: hidden;
        }
        .spana-titu{
            font-size: calc(1rem + 1vw);
        }
       .titulo-font {
        font-size: calc(1.7rem + 1.7vw);
       }
      .span-cronometro{
        font-size: calc(1rem + 1vw);
      }
      .img-market{
        height: 150px;
    }
    .img-logo{
        height: 30px;
    }
      }